
<h1>Registrar cliente Ocacional </h1>
<form method="post">
	<label>Registro</label>
		<p>CI</p>
		<input type="text" name="ci">
		<p>Nombre</p>
		<input type="text" name="nombre" />
		<br />
		<p>correo</p>
		<input type="text" name="correo" />
		<br />
		<p>Password</p>
		<input type="text" name="password" />
		<br />
		<p>Nacionalidad</p>
		<input type="text" name="nacionalidad" />
		<button type="submit">Crear</button>
	
</form>
<p> @ViewBag.Mensaje</p>