@using Dominio;
<h1>Pasajes</h1>
<a href="VerPasajes" class="btn btn-primary mb-3">Ver pasajes </a>
<br />

<a href="/Pasaje/VerPasajesComprados" class="btn btn-primary mb-3">Ver pasajes comprados </a>
<br />
<p>@ViewBag.Mensaje </p>