@using Dominio;
<h1>Vuelos</h1>
<a href="VerVuelos" class="btn btn-primary mb-3">Ver vuelos </a>
<br />
<a href="\Vuelo\BuscarRuta" class="btn btn-primary mb-3">Buscar vuelos por ruta</a>

<br />
<p>@ViewBag.Mensaje </p>